.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
}

form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form-element{
  padding: 5%;
  margin-left: 20%;
}

.form-element button{
  align-self: center;
}

label{
  padding: 5%;
}

input{
  padding: 2%;
  border-radius: 25px;
}

button{
  background-color: rgb(20, 73, 171);
  color: white;
  border-radius: 20px;
  padding: 15px;
  border: solid 2px blue;
  align-self: center;
  margin-left: 50%;
}